
<div class="row">

    <div id='description'>

    </div>
    <script src="..\Content\Lib\Openlayersv432.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all.js"></script>
    <script>
        Ext.Loader.setConfig({
            enabled: true,
            paths: {
                'GeoExt': '../Content/Lib/GeoExt/src'
            }
        });
    </script>
    <script src="..\Scripts\Mapa\Mapa.js"></script>


</div>

